.contador-carrito {
    display: flex;
    align-items: center;
    text-wrap: no-wrap;
    margin-top: 10px;
    width: 100%;
}

.contador {
    display: flex;
    align-items: center;
    margin-right: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.boton-contador {
    font-size: 18px;
    font-weight: bold;
    max-width: 30px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.boton-contador:hover {
    border: none;
}

.cantidad {
    margin: 0 10px;
    font-size: 18px;

}

.boton-carrito {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    text-wrap: no-wrap;
}

.boton-carrito:hover {
    background-color: #0056b3;
}