{% extends 'ecommerce/base.html' %}
{% load static %}

{% block content %}


<div class="carro__grid">
    {% for item in carro %}
        <div class="carro__item">
            <img src="{{ item.producto.imagen_principal.url }}" alt="{{ item.producto.imagen_principal }}"></img>
            <div class="carro__data">
                <h3>{{ item.producto.nombre }}</h3>
                <form action="{% url 'carro:actualizar_carro' item.producto.id %}" method="POST">
                    {% csrf_token %}
                    <input type="number" name="cantidad" value="{{ item.cantidad }}" min="1">
                    <button type="submit">Actualizar</button>
                </form>
                <p>Cantidad: {{ item.cantidad }}</p>
                <p>Precio: ${{ item.producto.precio }}</p>
                <a href="{% url 'carro:eliminar_del_carro' item.producto.id %}">Eliminar</a>
            </div>
        </div>
    {% empty %}
        <p>No hay productos en el carrito.</p>
    {% endfor %}
</div>

<div class="container-precio">
    <div class="total">
        <p>Total:</p>
        <p id="total-precio">${{total}}</p> <!-- Actualiza esto con JavaScript si es necesario -->
    </div>
    <div class="comprar">
        <button>Comprar</button>
        <a href="">Ver más productos</a>
    </div>
</div>



{% endblock content %}