{% extends 'ecommerce/producto_base.html' %}
{% load static %}

            
            
    {% block tittle-categoria %}Accesorios{% endblock %}

    {% block filtro_url %}
    {% if genero %}{% url 'ecommerce:accesorios_por_genero' genero %}{% else %}{% url 'ecommerce:lista_accesorios' %}{% endif %}
    {% endblock %}
            

    {% block filtros_genero %}

    {% endblock %}

    {% block filtro_form %}
    {% if genero %}{% url 'ecommerce:accesorios_por_genero' genero %}{% else %}{% url 'ecommerce:lista_accesorios' %}{% endif %}
    {% endblock %}


    {% block filtros_aplic %}
    {% url 'ecommerce:lista_accesorios' %}
    {% endblock  %}

    {% block products %}


        <div class="container__grid">

            {% for accesorio in accesorios  %}
            <div class="card__container categorias" id="card">
                <img src="{{accesorio.imagen_principal.url}}" class="card-img-top" {% if accesorio.imagen_secundaria_1 %}
                data-secondary="{{ accesorio.imagen_secundaria_1.url }}{% endif %} ">
                <div class="card__body">
                    <div class="card__body-data">
                        <h4>{{accesorio.marca}}</h4>
                        <h3>{{accesorio.nombre}}</h3>
                    </div>
                    {% if accesorio.estado == 'sale' %}
                    <div class="container__sale">
                        <p>{{accesorio.descuento}}%</p>
                        <p>OFF</p>
                    </div>
                    <div class="container__descuento">
                        <h5 class="precio__descuento">${{accesorio.precio}}</h5>
                        <h5 class="precio__total"> ${{accesorio.precio_con_descuento}}</h5>
                    </div>
                    {% else %}
                    <h5 class="precio__total">${{accesorio.precio}}</h5>
                    {% endif %}
                    <div class="card__cuotas">
                        <h6><span>3</span> cuotas de <span> ${{accesorio.cuota}}</span></h6>
                        <p>Envio gratis</p>
                    </div>
                    <div class="card-footer">
                        <button class="boton-compra" id="boton-compra"><a href="{% url 'ecommerce:producto_detalle' accesorio.id %}">comprar</a></button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>  

    {% endblock %}