{% extends 'ecommerce/base.html' %}
{% load static %}

{% block content %}

    <main id="main">
        
    <div class="container" id="container-principal">
        <div class="container__estados">
            <h2>Novedades</h2>
        </div>
        <div class="container__grid-index">

            {% for novedad in novedades  %}
                <div class="card__container index" id="card">
                    <img src="{{novedad.imagen_principal.url}}" class="card-img-top" data-secondary="{% if novedad.imagen_secundaria_1 %}{{ novedad.imagen_secundaria_1.url }}{% else %}{{ novedad.imagen_principal.url }}{% endif %}">
                    <div class="card__body">
                        <div class="card__body-data">
                            <h4>{{novedad.marca}}</h4>
                            <h3>{{novedad.nombre}}</h3>
                        </div>
                        <div class="container__new">
                            <p>Nuevo</p>
                        </div>
                        <h5 class="precio__total">${{novedad.precio}}</h5>
                        <div class="card__cuotas">
                            <h6><span>3</span> cuotas de <span>${{novedad.cuota}}</span></h6>
                            <p>Envio gratis</p>
                        </div>
                        <div class="card-footer">
                            <button class="boton-compra" id="boton-compra"><a href="{% url 'ecommerce:producto_detalle' novedad.id %}">comprar</a></button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>  


        <div class="carrousel">
            <div class="slick-list" id="slick-list">
                <button class="slick-arrow slick-prev" id="button-prev"><i class="bi bi-caret-left-fill"></i></button>
    
                <div class="slick-track" id="track">
                    {% for marca in marcas  %}

                    <div class="slick">
                        <div>
                            <a href="">
                                <img src="{{marca.imagen.url}}" alt="">
                            </a>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                <button class="slick-arrow slick-next" id="button-next"><i class="bi bi-caret-right-fill"></i></button>
            </div>
        </div>


        <div class="container__estados">
            <a href="{% url 'ecommerce:lista_sale' %}"><h2>!Ofertas 2024!</h2></a>
        </div>
        <div class="container__grid-index">

            {% for sale in sales  %}
                {% if forloop.counter <= 8 %}
                <div class="card__container index" id="card">
                    <img src="{{sale.imagen_principal.url}}" class="card-img-top" 
                    data-secondary="{% if sale.imagen_secundaria_1 %}{{ sale.imagen_secundaria_1.url }}{% else %}{{ sale.imagen_principal.url }}{% endif %}">
                    <div class="card__body">
                        <div class="card__body-data">
                            <h4>{{sale.marca}}</h4>
                            <h3>{{sale.nombre}}</h3>
                        </div>
                        <div class="container__sale absolute">
                            <p>{{sale.descuento}}%</p>
                            <p>OFF</p>
                        </div>
                        <div class="container__descuento">
                            <h5 class="precio__descuento">${{sale.precio}}</h5>
                            <h5 class="precio__total"> ${{sale.precio_con_descuento}}</h5>
                        </div>
                        <div class="card__cuotas">
                            <h6><span>3</span> cuotas de <span>${{sale.cuota}}</span></h6>
                            <p>Envio gratis</p>
                        </div>
                        <div class="card-footer">
                            <button class="boton-compra" id="boton-compra"><a href="{% url 'ecommerce:producto_detalle' sale.id %}">comprar</a></button>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>  


        <div class="categorias__container">
            <div class="categorias__container-item">
                <a href="{% url 'ecommerce:lista_indumentaria' %}">
                    <picture>
                        <img src="{% static 'ecommerce/img/indumentaria.webp' %}" alt="">
                        <h2>Indumentaria</h2>
                    </picture>
                </a>
            </div>
            <div class="categorias__container-item">
                <a href="{% url 'ecommerce:lista_calzados' %}">
                    <picture>
                        <img src="{% static 'ecommerce/img/calzado.webp' %}"  alt="">
                        <h2>Calzado</h2>
                    </picture>
                </a>
            </div>
            <div class="categorias__container-item">
                <a href="{% url 'ecommerce:lista_accesorios' %}">
                    <picture>
                        <img src="{% static 'ecommerce/img/acceosrios.webp' %}"  alt="">
                        <h2>Accesorios</h2>
                    </picture>
                </a>
            </div>
        </div>




        <div class="container__estados">
            <h2>Destacados</h2>
        </div>
        <div class="container__grid-index">

            {% for destacado in destacados  %}
            <div class="card__container index" id="card">
                <img src="{{destacado.imagen_principal.url}}" class="card-img-top" 
                data-secondary="{% if destacado.imagen_secundaria_1 %}{{ destacado.imagen_secundaria_1.url }}{% else %}{{ destacado.imagen_principal.url }}{% endif %}">
                <div class="card__body">
                    <div class="card__body-data">
                        <h4>{{destacado.marca}}</h4>
                        <h3>{{destacado.nombre}}</h3>
                    </div>
                    <h5 class="precio__total">${{destacado.precio}}</h5>
                    <div class="card__cuotas">
                        <h6><span>3</span> cuotas de <span>${{destacado.cuota}}</span></h6>
                        <p>Envio gratis</p>
                    </div>
                    <div class="card-footer">
                        <button class="boton-compra" id="boton-compra"><a href="{% url 'ecommerce:producto_detalle' destacado.id %}">comprar</a></button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>  

    </div> 

    </main>


    {% endblock content %}