{% extends 'ecommerce/base.html' %}

{% load static %}

{% block content %}

<div class="main__container">
    <div class="intro__container">
        <div id="cont1">
            <!-- Uso las migas de pan -->
            <div class="rutas__container">
                        {% for breadcrumb in breadcrumbs %}
                                {% if breadcrumb.url %}
                                    <a href="{{ breadcrumb.url }}"> {{ breadcrumb.name }}</a>
                                {% else %}
                                    <span class="breadcrumbs"> {{ breadcrumb.name }}</span> 
                                {% endif %}
                                {% if not forloop.last %}
                                    <span class="separador"> > </span> 
                                {% endif %}
                        {% endfor %}
                
            </div>
            
            <div class="container__categoria">
                <h3>{% block tittle-categoria %}{% endblock %}</h3>
            </div>
        </div>
    
        <div class="container__button-filtros" id="container-filtro">
            <button id="toggle-filters" class="toggle-filters">
                Filtros
                <i class="bi bi-filter-right"></i>
            </button>
            <!-- Formulario para ordenar productos -->
            <form class="form__order" id="order-form" method="GET" action="{% block filtro_url %}{% endblock %}">
                <select name="ordenar" id="ordenar">
                    <option value="">Seleccionar</option>
                    <option value="precio_asc" {% if request.GET.ordenar == 'precio_asc' %}selected{% endif %}>Precio: Bajo a Alto</option>
                    <option value="precio_desc" {% if request.GET.ordenar == 'precio_desc' %}selected{% endif %}>Precio: Alto a Bajo</option>
                    <option value="nombre_asc" {% if request.GET.ordenar == 'nombre_asc' %}selected{% endif %}>Nombre: A-Z</option>
                    <option value="nombre_desc" {% if request.GET.ordenar == 'nombre_desc' %}selected{% endif %}>Nombre: Z-A</option>
                </select>
                <button type="submit" class="order-button">Buscar</button>
            </form>
        </div>  
    </div>
    
    <div class="wrapper">
            <aside id="aside-filters" class="aside-filters">

                {% block filtros_genero %}

                {% endblock %}
                <!-- Formulario para filtrar productos por marca y colores -->
                <form method="GET" id="filter-form" action="{% block filtro_form %}{% endblock %}">
                    <div class="container__filtros-tittle">
                        <span id="close-filters">X</span>
                        <h2 class="filtros-tittle">Filtrar Por</h2>
                    </div>
                <div class="container__flex-filtros">
                    <div class="container__filtro">
                        <h3>Marca</h3>
                        <!-- Itero sobre las marcas para mostrar todas las disponibles -->
                        {% for marca in marcas_con_cantidad %}  
                            {% if forloop.counter <= 8 %} <!-- Muestro solo las primeras 8 marcas -->
                        <label>
                            <div class="label-content">
                                <input type="checkbox" name="marca" value="{{ marca.marca.id }}" {% if marca.id|stringformat:"d" in request.GET.marca %}checked{% endif %}>
                                <span>{{ marca.marca.nombre }} ({{marca.cantidad}})</span>
                            </div>
                        </label>
                            {% endif %}
                        {% endfor %}
                        <div class="more-filters-marca" id="filters-marca">
                            {% for marca in marcas_con_cantidad %}
                                {% if forloop.counter > 8 %} <!-- Si hay mas de 8 marcas usamos una funcion de javascript para mostrarlas -->
                                <label>
                                    <div class="label-content">
                                        <input type="checkbox" name="marca" value="{{ marca.marca.id }} {% if marca.id|stringformat:"d" in request.GET.marca %}checked{% endif %}">
                                        <span>{{ marca.marca.nombre }} ({{marca.cantidad}})</span>
                                    </div>
                                </label>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% if marcas_con_cantidad|length > 8 %} <!-- Si la cantidad de marcas es mayor a 8 se muestra el boton -->
                            <button id="button-filtro-marca" type="button">Ver todos</button>
                        {% endif %}
                    </div>
    
                    <!-- Hago lo mismo con los colores -->
                    <div class="container__filtro">
                        <h3>Colores</h3>
                        {% for color in colores_con_cantidad %}
                            {% if forloop.counter <= 8 %}
                                <label>
                                    <div class="label-content">
                                        <input type="checkbox" name="colores" value="{{ color.color.id }}" {% if color.id|stringformat:"d" in request.GET.colores %}checked{% endif %}>
                                        <span>{{ color.color.nombre }} ({{color.cantidad}})</span>
                                    </div>
                                    <i class="bi bi-circle-fill" style="color: {{ color.color.color_style }}; font-size: small;"></i>
                                </label>
                            {% endif %}
                        {% endfor %}
                        <div class="more-filters" id="more-filters">
                            {% for color in colores_disponibles %}
                                {% if forloop.counter > 8 %}
                                    <label>
                                        <div class="label-content">
                                            <input type="checkbox" name="colores" value="{{ color.color.id }}" {% if color.id|stringformat:"d" in request.GET.colores %}checked{% endif %}>
                                            <span>{{ color.color.nombre }} ({{color.cantidad}})</span>
                                        </div>
                                        <i class="bi bi-circle-fill" style="color: {{ color.color.color_style }}; font-size: small;"></i>
                                    </label>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% if colores_con_cantidad|length > 8 %}
                            <button id="button-filtro" type="button">Ver todos</button>
                        {% endif %}
                    </div>
                    
    
                    {% block talle %}
                        <!-- Como cada categoria de producto tiene un tipo de talle diferente dejamos el bloque vacio
                        para llenarlo en cada template correspondiente| -->
                    {% endblock %}
    
                    <button type="submit" class="button-filtrar">Filtrar</button>
                </div>   
            </form>
            
    
        </aside>
        <main id="main">
            
        <div class="container" id="container-principal">


            <div class="container__filtros-aplicados">
                <ul>
                    
                    {% if filtros_aplicados %}
                        {% for filtro, valores in filtros_aplicados.items  %} <!-- Si hay filtros disponibles iteramos sobre ellos -->
                            {% for valor in valores %} <!-- Iteramos sobre los valores de los filtros aplicados para mostrarlos uno por uno -->
                                <li>{{valor}}</li>
                            {% endfor %}
                        {% endfor %}
                    <a href="{% block filtros_aplic %}{% endblock  %}">Borrar Filtros</a>
                    {% endif %}
                </ul>
                    
            </div>
    
            {% block products %}

            {% endblock %}

        </div> 
    
        </main>
        </div>
</div>
    {% endblock content %}