body {
    box-sizing: border-box;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: var(--color-secundario);
    box-sizing: border-box;
    --color-principal: rgb(51, 52, 53);
    --color-secundario: rgb(242, 245, 248);
    --color-terciario: rgb(188, 191, 197);
    --color-cuarto: rgba(116, 113, 113, 0.4);
    --color-quinto: rgb(78, 77, 77);
    --color-sexto:rgb(83, 81, 81);
    --color-septimo:rgba(51, 52, 53, 0.438);

}

body, header, nav, h1, div, ul, li, main, h1, h2, h3, h4, h5, h6, p, section {
    margin: 0;
    padding: 0;
}

/* HEADER SECTION */

.header__data {
    background-color: var(--color-sexto);
    padding: 5px 20px;
    position: relative;
}

.social__media {
    display: flex;
    gap: 10px;
    position: absolute;
    left: 10px;
    top: 3px;
    
}

.social__media i {
    font-size: 17px;
    margin-right: 5px;
}

.social__media a {
    color: beige;
    font-size: 11px;
    font-weight: 400;
    text-decoration: none;
    display: flex;             
    align-items: center; 
}

.header__data p {
    color: beige;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}

.header__container {
    height: 80px;
    background-color: var(--color-principal);
    color: beige;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0px 50px;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: var(--color-principal);
    border-top: 1px solid white;
}
.header__nav-list {
    display: flex;
}

.header__nav-item {
    list-style: none;
    height: 50px;
    padding: 0px 20px;
    align-content: center;
    transition: all 0.5s ease;
}

.header__nav-item a {
    color: beige;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

.header__nav-item:hover {
    background-color: beige;
}

.header__nav-item:hover a {
    color: var(--color-principal);
}

.header__nav-item.nav-active {
    background-color: beige;
}

.header__nav-item.nav-active a {
    color: var(--color-principal);
}

.sale {
    text-transform: uppercase;
    height: 25px;
    align-self: center;
    border: 2px solid beige;
    padding: 0px 17px;
}

.sale:hover {
    background-color: rgba(218, 22, 22, 0.603);
}

.sale:hover a {
    color: beige;
}

.sale.sale-active {
    background-color:  rgba(218, 22, 22, 0.603);
}

.header__extra {
    display: flex;
    gap: 40px;
}

.header__extra a {
    font-size: 9px;
    text-decoration: none;
    color: beige;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;
}

.header__extra i{
    color: beige;
    font-size: 35px;
}

.search__form {
    width: 100%;
    margin: 0px 30px;
}

.header__search {
    display: flex;
    margin: auto;
    min-width: 300px;
    max-width: 650px; 
    flex-grow: 1; 
}

.header__search input {
    flex-grow: 1; 
    padding: 13px; 
    border: none;
    border-radius: 8px 0 0 8px;
}

.header__search button {
    background-color: white;
    border: none; 
    border-radius: 0 8px 8px 0;
    cursor: pointer; 
}

.header__search button i{
    font-size: 25px;
    color: gray;
}

.header__button {
    display: none;
    font-size: 40px;
    color: white;
    border-radius: 5%;
    background-color: var(--color-principal);
    border: none;
}

.header__nombre {
    font-size: 30px;
    margin-left: 15px;
}

.ventana-emergente {
    position: absolute;
    background-color: var(--color-principal);
    box-shadow: 0 0 5px rgba(1, 23, 46, 0.6);
    padding: 10px;
    font-size: 15px;
    z-index: 10;
    opacity: 0;  /* Inicialmente invisible */
    visibility: hidden; /* Oculto en el flujo */
    transition: opacity 0.5s ease, visibility 0s 0.3s; /* Transición de opacidad */
}

.account {
    right: 95px;
    top: 93px;
}

.help {
    right: 117px;
    top: 93px;
}

.ventana-emergente.activa {
    opacity: 1;  /* Visible */
    visibility: visible; /* Asegura que sea visible */
    transition: opacity 0.5s ease, visibility 0s 0s; /* Sin retraso en la visibilidad */
}

.ventana-emergente a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}

.ventana-emergente i {
    font-size: 14px;
}

.ventana-emergente a:hover {
    text-decoration: underline;
}

.ventana-emergente a:first-child {
    margin-bottom: 5px;
}

.sesion-button {
    border: none;
    background-color: var(--color-principal);
    font-size: 14px;
    color: beige;
    font-weight: 400;
}

.sesion-button:hover {
    text-decoration: underline;
}


@media screen and (max-width:1000px) {
    .header__container {
        padding: 0px 20px;
    }
}    

@media screen and (max-width:850px) {
    .header__button {
        display: flex;
    }
    .header__nombre {
        display: none;
    }
    .header__nav {
        justify-content: space-between;
        padding: 0px 40px;
        height: 60px;
    }
    .header__nav-list {
        position: absolute;
        top: 160px;
        left: 0;
        flex-direction: column;
        background-color: var(--color-principal);
        padding: 0px;
        opacity: 0;
        visibility: hidden;
        z-index: 1000;
        gap: 0px;
    }
    .header__nav-list.visible {
        opacity: 1;
        visibility: visible;
    }
    .header__nav-item {
        padding: 5px 50px;
        width: 250px;
        border-bottom: 1px solid beige;
        border-top: 1px solid beige;
    }
    .sale {
        background-color: var(--color-principal);
        border: none;
        border-bottom: 2px solid beige;
        border-top: 1px solid beige;
        height: 50px;
    }
    .header__nav-item a {
        font-size: 18px;
    }
    .account {
        top: 163px;
    }
    
    .help {
        top: 163px;
    }
    .social__media {
        display: none;
    }
}


/* INTRO-MAIN*/

.intro__container {
    background-color: var(--color-secundario);
    margin: 10px 0px;
}

.rutas__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.rutas__container a {
    text-decoration: none;
    color: var(--color-quinto);
    margin: 0px 4px;
    font-size: 15px;
    font-weight: 400;
    margin-right: 4px;
}

.rutas__container a:hover {
    color: var(--color-terciario);
}

.breadcrumbs {
    color: var(--color-principal);
    font-size: 15px;
    font-weight: 600;
    margin-left: 4px;
}

.container__categoria {
    max-width: 100%;
    margin-top: 5px;
    display: none;
}

.container__categoria h3 {
    text-align: center;
    color: var(--color-cuarto);
    font-size: 22px;
}

/* boton para mostrar filtros en pantallas pequeñas */
.container__button-filtros{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    gap: 20px;
    margin-top: 10px;
}

.toggle-filters {
    display: block; 
    padding: 7px 10px;
    max-width: 230px;
    min-width: 100px;
    flex: 1;
    font-size: 15px;
    font-weight: 700; 
    background-color: var(--color-secundario);
    color: var(--color-quinto); 
    border: 0.5px solid var(--color-principal); 
    border-radius: 5px; 
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.container__button-filtros i {
    font-size: 20px;
    font-weight: 700; 
}

/* formulario para ordenar productos */
.form__order {
    display: flex;
    gap: 3px;
    width: 100%; 
    max-width: 300px; 
}

.form__order select {
    appearance: none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100% !important; 
    min-width: 160px;
    padding: 7px 10px;
    font-size: 15px;
    font-weight: 700; 
    background-color: var(--color-secundario);
    color: var(--color-quinto); 
    border: 1px solid var(--color-principal); 
    border-radius: 5px; 
    cursor: pointer;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23000" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5m-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center; 
    background-size: 15px; 
}

.form__order select:focus {
    outline: none; 
    background-color: var(--color-secundario);
}

.form__order .order-button {
    width: 70px;
    max-width: 70px;
    min-width: 50px;
    font-size: 11px; 
    font-weight: 700;
    text-align: center;
    background-color: var(--color-sexto);
    color: white;
    border-radius: 5px; 
    border: none;
    cursor: pointer; 
    transition: background-color 0.3s; 
}


.form__order .order-button:hover {
    background-color: var(--color-cuarto); 
}

@media screen and (max-width:768px) {
    .rutas__container a{
        font-size: 13px;
    }
    .breadcrumbs {
        font-size: 13px;
    }
}

/* MAIN CONTAINERS */

/* a excepcion del header, contiene todos los elementos del body(intro__container, aside y main) */
.main__container {
    padding: 0 50px;
}
/* contiene el aside y el main */
.wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-color: var(--color-secundario);
}

/* ASIDE */

.aside-filters {
    margin-bottom: 50px;
}


.container__genero {
    margin-top: 15px;
    margin-bottom: 40px;
}

.container__genero h3 {
    font-size: 21px;
    margin-bottom: 20px;
    color: var(--color-quinto);
}

.container__genero li {
    list-style: none;
    margin-top: 15px;
    margin-left: 10px;
}

.container__genero a {
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    color: var(--color-quinto);
}

.container__genero a:hover {
    color: var(--color-cuarto);
}

.container__genero a.activar {
    color: var(--color-terciario);
    font-weight: bold;
}

.container__filtros-tittle span {
    display: none;
}

.filtros-tittle {
    font-size: 21px;
    color: var(--color-quinto);
}

.container__flex-filtros {
    display: flex;
    flex-direction: column;
    height: 100%; 
    margin-right: 10px;
    gap: 15px;
}

.container__filtro {
    margin-top: 20px;
}

.container__filtro label {
    display: flex;
    justify-content: space-between; 
    font-weight: 400;
    font-size: 14px;
    margin-top: 4px;
}

.container__filtro .label-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container__filtro span {
    margin-left: 3px; 
    color: var(--color-quinto);
}

.container__filtro i {
    margin-left: 10px; 
}

/* Oculta el checkbox original */
input[type="checkbox"] {
    appearance: none; /* Elimina el estilo predeterminado */
    -webkit-appearance: none; /* Para navegadores webkit */
    width: 18px;
    height: 18px; 
    border: 2px solid gray;
    border-radius: 4px; 
    position: relative; /* Posicionamiento para el checkmark */
    cursor: pointer; /* Cambia el cursor al pasar sobre el checkbox */
    outline: none; /* Elimina el contorno al enfocar */
    transition: background 0.3s, border-color 0.3s; /* Transiciones suaves */
}

/* Estilo para el checkbox cuando está marcado */
input[type="checkbox"]:checked {
    background: var(--color-terciario); /* Color de fondo cuando está seleccionado */
    border-color: var(--color-terciario); /* Color del borde cuando está seleccionado */
}

input[type="checkbox"]:checked + span {
    color: var(--color-terciario); /* Cambia a cualquier color que desees */
    font-weight: bold; /* Opcional: puedes hacer el texto más destacado */
}

/* Estilo del "checkmark" usando pseudo-elemento */
input[type="checkbox"]:checked::after {
    content: ""; /* Crea un contenido vacío */
    position: absolute; /* Posiciona el checkmark */
    top: 1px; /* Ajusta la posición vertical */
    left: 5px; /* Ajusta la posición horizontal */
    width: 4px; /* Ancho del checkmark */
    height: 8px; /* Alto del checkmark */
    border: solid white; /* Color del checkmark */
    border-width: 0 2px 2px 0; /* Establece los bordes para formar el checkmark */
    transform: rotate(45deg); /* Rota para crear forma de check */
}

.container__filtro h3 {
    margin-bottom: 10px;
    font-size: 15px;
    color: var(--color-quinto);
}

.more-filters {
    display: none;
}

.more-filters-marca {
    display: none;
}

.more-filters-talles {
    display: none;
}

.container__filtro button {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 30px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    color: #ccc;
    border: 2px solid #ccc;
}

.container__filtro button:hover {
    color: var(--color-principal);
    border: 2px solid var(--color-principal);
}

.button-filtrar {
    width: 70%;
    margin: auto;
    padding: 5px;
    border-radius: 30px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    color: white;
    background-color: var(--color-principal);
    border: none;
}

.button-filtrar:hover {
    background-color: var(--color-cuarto);
}

@media screen and (max-width:768px) {
    .aside-filters {
        visibility: hidden;
        position: absolute;
        top: 0;
        left: -100%; /* lo ubico fuera de la pantalla a la izquierda */
        width: 100%;
        height: 100%;
        background: var(--color-secundario);
        z-index: 1000;
        padding: 0;
        transition: left 0.5s ease;
    }
    .container__flex-filtros {
        gap: 5px;
        padding: 0px 30px;
    }
    .aside-filters.show {
        left: 0; /* lo muevo para que se vea */
        visibility: visible;
    }
    .wrapper {
        grid-template-columns: 1fr;
    }
    .container__filtros-tittle span {
        display: block;
        cursor: pointer;
    }
    .container__filtros-tittle{
        display: flex;
        gap: 30px;
        padding: 15px;
        align-items: center;
        background-color: var(--color-terciario);
        margin-bottom: 10px;
    }
    .filtros-tittle {
        margin-top: 0px;
        margin-left: 0px;
    }
    .container__filtro {
        margin-top: 20px;
    }
    .container__genero {
        margin-top: 35px;
        margin-bottom: 15px;
        padding: 0px 30px;
    }
    .container__genero li {
        margin-top: 8px;
        margin-left: 0px;
    }
    .container__genero h3 {
        font-size: 17px;
    }
    .button-filtrar {
        margin-top: 15px;
        margin-left: 20px;
        margin-bottom: 15px;
    }
}

/* MAIN */

.container {
    max-width: 100%;
    margin: auto;
    margin-bottom: 50px;
}

/* ENCABEZADO MAIN */



.container__filtros-aplicados {
    margin-bottom: 10px;
}

.container__filtros-aplicados ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.container__filtros-aplicados ul li {
    list-style: none;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--color-cuarto);
    color: white;
    font-weight: 600;
    font-size: 11px;
}

.container__filtros-aplicados a {
    text-decoration: none;
    color: #888;
}

.container__filtros-aplicados a:hover {
    color: #c5c4c4;
}

/* ENCABEZADO TEMPLATE INDEX */

.container__estados {
    max-width: 100%;
    margin-top: 30px;
}

.container__estados a {
    text-decoration: none;
}

.container__estados a:hover {
    text-decoration: underline;
    color: var(--color-cuarto);
}

.container__estados h2 {
    text-align: center;
    color: var(--color-cuarto);
    font-size: 30px;
}


/* MAIN CARDS */

.container__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 240px);
    grid-auto-rows: 400px;
    justify-content: center;
    gap: 20px 10px;
    margin-bottom: 40px;
}

/* cards mas grande para template index */
.container__grid-index {
    display: grid;
    grid-template-columns: repeat(auto-fit, 270px);
    grid-auto-rows: 430px;
    justify-content: center;
    gap: 30px;
    margin: 20px 0px;
}


.card__container {
    position: relative;
    border-radius: 8px;
    border: 1px solid var(--color-cuarto);
    transition: height 0.3s ease, box-shadow 0.3s ease; 
    overflow: hidden; 
    background-color: white;
}

.card-activa {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.8); 
    z-index: 1;
}

.card__container.index {
    height: 413px; /* altura inicial */
}

.card__container.index.card-activa {
    height: 460px; /* nueva altura */
}

.card__container.categorias {
    height: 395px; /* altura inicial */
}

.card__container.categorias.card-activa {
    height: 430px; /* nueva altura */
}

.card-img-top {
    max-width: 100%;
}

.card__body {
    border-top: 4px solid var(--color-cuarto);
    padding: 3px;
}

.card__body-data {
    width: 100%;
    height: 80px;
    text-transform: uppercase;
}

.card__body-data h4 {
    font-weight: 400;
    color: var(--color-terciario);
    font-size: 13px;
}

.card__body-data h3 {
    font-weight: bold;
    font-size: 15px;
    overflow: hidden; /* oculta el texto que se desborda */
    text-overflow: ellipsis; /* añade "..." al final del texto que se corta */
}

.card__cuotas {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__cuotas p {
    padding: 3px;
    background-color: red;
    color: white;
    border-radius: 2px;
    margin-right: 5px;
    font-size: 10px;
    font-weight: 700;
}

.card__cuotas h6 {
    font-weight: 500;
    font-size: 12px;
}

.card__cuotas span {
    font-weight: bold;
}

.boton-compra {
    padding: 10px;
    background-color: var(--color-principal);
    color: white;
    width: 100%;
    margin-top: 15px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    display: none;
    transition: all 0.3s ease;
}

.boton-compra:hover {
    
}

.boton-compra.activo {
    display: block;
    z-index: 1;
}

.boton-compra a {
    text-decoration: none;
    color: white;
}

.container__sale {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: red;
    font-size: 12px;
    font-weight: bold;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 3px;
}

/* le agregamos la calse absolute a todos los templates menos a producto*/
.absolute {
    position: absolute;
    top: 10px;
    left: 10px;
}

.container__new {
    background-color: rgb(68, 121, 236);
    font-size: 11px;
    font-weight: bold;
    color: white;
    width: 50px;
    padding: 2px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    left: 10px;
}

.container__descuento {
    display: flex;
    align-items: center;
    gap: 8px;
}

.precio__descuento {
    text-decoration: line-through;
    font-size: 17px;
    color: var(--color-terciario);
    font-weight: 500;
}

.precio__total {
    color: var(--color-terciario);
    font-weight: bold;
    font-size: 22px;
}


@media screen and (max-width:768px) {
    .container__categoria {
        display: block;
    }
}

/* PRODUCTO */

.container__producto {
    display: grid;
    width: 80%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    min-height: 100vh;
    gap: 20px;
    padding: 40px 0px 60px 0px;
    margin: auto;
    margin-bottom: 50px;
    box-sizing: border-box;
    position: relative; 
}

.producto__img {
    display: flex;
    gap: 20px;
}

.container__main-img {
    width: 550px;
    height: 500px;   
}

.thumbail__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 60px;
    height: 500px;
}

.thumbail {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    opacity: .7;
    aspect-ratio: 16 / 9;
    transition: .3s;
}

.thumbail:hover {
    opacity: 1;
}

.active {
    opacity: 1 !important; 
    box-shadow: 0 5px 5px rgba(1, 23, 46, 0.6);
}

.main__img {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(1, 23, 46, 0.6);
}

.producto__data {
    display: flex;
    flex-direction: column;
    
}

.producto__data i {
    font-size: 18px;
}

/* separamos la marca y el descuento */
.producto__sale {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

.producto__data h4 {
    font-weight: 400;
    color: var(--color-principal);
    font-size: 18px;
    margin-bottom: 7px;
    text-transform: uppercase;
}

.producto__data h3 {
    font-size: 33px;
    font-weight: 700;
    text-transform: uppercase;
}

.producto-precio {
    color: var(--color-terciario);
    font-size: 30px;
    margin-top: 15px;
    font-size: 700;
}

/* le agregamos esta clase ademas de precio__descuento(definida en section cards)*/
.producto-desc {
    font-size: 20px;
    margin-top: 15px;
}

.container__cuotas {
    margin-top: 15px;
}

.cuotas {
    font-size: 14px;
    font-weight: 700;
    color: rgb(218, 13, 13);
}

.cuotas i {
    margin-right: 5px;
}

.cuotas span {
    font-weight: 400;
    color: black;
}

.container__options {
    margin-top: 20px; 
    display: flex;
    gap: 10px;
}

.form-group {
    width: 100%;
}

.container__options label {
    display: block; 
    margin-bottom: 5px;
    font-size: 11px; 
}
.container__options select {
    width: 100%;
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 5px; 
    font-size:14px; 
    background-color: #f9f9f9;
}

.container__options option {
    padding: 5px; 
    background-color: #f9f9f9; 
}

.boton-carrito {
    margin: auto;
    margin-top: 20px;
    padding: 8px;
    border-radius: 15px;
    border: none;
    background-color: var(--color-principal);
    color:beige;
    font-size: 17px;
    font-weight: bold;
    width: 90%;
    cursor: pointer;
}

.envios__container {
    display: flex;
    gap: 5px;
    margin-top: 25px;
}

.envios__container h5 {
    font-size: 13px;
    margin-top: 0px;
    font-weight: 600;
}

.envios__container p {
    font-size: 11px;
}

.button-locales {
    border: none;
    font-size: 12px;
    color: var(--color-terciario);
    font-weight: 600;
    cursor: pointer;
}

.button-locales i {
    font-size: 12px;
}

/* ventana oculta que se muestra con javascript */
.ventana-locales {
    box-shadow: 0 0 5px rgba(1, 23, 46, 0.6);
    padding: 10px;
    font-size: 15px;
    z-index: 10;
    margin-right: 25px;
    margin-top: 7px;
    display: none;
}

.ventana-locales p {
    padding: 7px;
    
}

.ventana-locales p:first-child {
    border-bottom: 1px solid rgba(1, 23, 46, 0.2);
}

@media screen and (max-width:1050px) {
    .container__producto {
        width: 90%;
    }
    .producto__img {
        flex-direction: column;
    }
    .thumbail__container {
        flex-direction: row;
        width: 400px;
        height: auto;
        gap: 20px;
    }
    .container__main-img {
        width: 400px;
        height: 400px;
    }
}

@media screen and (max-width:800px) {
    .container__producto {
        grid-template-columns: minmax(300px, 500px);
        grid-template-rows: 1fr 1fr;
    }
    .producto__img {
        flex-direction: column;
    }
    .thumbail__container {
        flex-direction: row;
        width: 420px;
        height: auto;
        gap: 40px;
    }
    .container__main-img {
        width: 450px;
        height: 450px;
    }
}



/* CARRO DE COMPRAS */

.carro__grid {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: minmax(500px, 800px) 350px;
    background-color: var(--color-secundario);
    gap: 50px;
    padding: 20px 0px;
}

.carro__item{
    border: 1px solid #a8a5a5;
    width: 95%;
    background-color: white;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.grid-item-product {
    display: flex;
    border-bottom: 1px solid #a8a5a5;
    padding: 0px 10px;
    gap: 20px;
}

.carro__img {
    width: 130px;
    height: 130px;
}
.carro__data {
    width: 100%; 
    font-weight: bold;
}

.sub-carro__data {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-carro__data p {
    font-size: 19px;
    font-weight: 500;
}

.data h4 {
    font-size: 13px;
}

.data h3 {
    font-size: 16px;
    font-weight: 500;
}

.data a {
    font-size: 12px;
    font-weight: 700;
    color: rgb(57, 57, 180);
    text-decoration: none;
    margin-right: 10px;
    
}

.input-carro {
    width: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9; 
}

.cantidad-boton {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9; 
    font-size: 13px;
    font-weight: 300;
    cursor: pointer;
}

.carro__boton {
    display: flex;
    border: 1px solid black;
    width: 70px;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
}

.carro__boton  button {
    border: none;
    background-color: #f8f8f8;
}

.total {
    display: flex;
    justify-content: space-between;
}

.comprar {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.comprar button {
    border-radius: 10px;
    padding: 10px;
    font-size: 17px;
    background-color:rgb(57, 57, 180);
    color: white;
    font-weight: 700;
    border: none;
    text-decoration: none;
}


.grid-item-envio {
    padding: 10px;
}

.grid-item-envio a {
    font-size: 14px;
    font-weight: 600;
    color:rgb(57, 57, 180);
    text-decoration: none;
    cursor: pointer;
}

.grid-item-envio-sub {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.grid-item-envio-sub h4 {
    color: rgb(64, 163, 64);
}

.grid-item-envio-sub h5 {
    font-weight: 500;
    font-size: 15px;
}


.container-totalcompra {
    background-color: #fff;
    border: 1px solid #a8a5a5;
    padding: 10px;
    height: 250px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-totalcompra-tittle {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #a8a5a5;
}

.container-totalcompra-precios {
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container-totalcompra-flex {
    display: flex;
    justify-content: space-between;
}

.container-totalcompra-flex p {
    font-size: 13px;
    font-weight: 400;
}

.container-totalcompra-flex a {
    font-size: 13px;
    color: rgb(57, 57, 180);
}

.empty {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secundario);
    border: none;
    gap: 30px;
}
.empty a {
    font-size: 15px;
    color: rgb(57, 57, 180);
    text-decoration: none;
    font-weight: 700;
}

.emptycarro {
    display: flex;
    gap: 20px;
}

.emptycarro i {
    font-size: 50px;
}

.emptycarro h3 {
    font-size: 17px;
}

.emptycarro p {
    font-size: 14px;
}




/* CARRUSEL IMAGENES DEL TEMPLATE INDEX */

.carrousel {
    width: 100%;
    margin: 0px 6px;
    background: rgb(165, 174, 192, 0.4);
    margin: 80px 0px ;
}

.slick-list{
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    max-width: 90vw;
    height: 250px;
    margin: 0px auto;
    overflow: hidden;
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    transition: .5s ease-in-out;
    height: 120px;
}

.slick {
    position: relative;
    width: 260px;
    padding: 0 18px;
    float: left;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.slick a {
    display: block; /* Asegura que el enlace abarque todo el espacio */
    width: 160px; /* Ancho fijo */
    height: 120px; /* Alto fijo */
    overflow: hidden; 
}

.slick a img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
    transition: opacity 0.5s ease-in-out;
    opacity: .50;
}

.slick a img:hover {
    opacity: 0.70;
}

.slick-arrow {
    border-radius: 30px;
    background-color: rgb(241, 239, 239);
    position: absolute;
    z-index: 4;
    width: 48px;
    height: 48px;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
    border: none;
    cursor: pointer;
}

.slick-arrow:focus {
    outline: 0;
}

.slick-arrow i {
    font-size: 20px;
    width: 12px;
    height: 100%;
    color: rgba(0,0,0,.7);
}

.slick-prev {
    left: 0px;
}

.slick-next {
    right: 0px;
}


/*  CONTAINER IMAGENES DE CATEGORIAS DEL TEMPLATE INDEX */

.categorias__container {
    width: 100%;
    max-width: 1250px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin: 80px auto; 
    padding: 0 20px;
    box-sizing: border-box;
}

.categorias__container-item {
    position: relative;
    width: 100%;
    background-color: rgb(165, 174, 192, 0.4);
    border-radius: 12px;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.categorias__container-item:hover {
    opacity: 0.8;
}

.categorias__container-item a {
    display: block;
    position: relative;
    text-decoration: none;
    color: beige;
}

.categorias__container-item a picture {
    display: block;
}

.categorias__container-item a img {
    width: 100%;
    overflow: hidden;
    height: auto; /* mantiene la relación de aspecto */
    object-fit: cover; 
}

.categorias__container-item h2 {
    color: var(--color-principal);
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
}

@media screen and (max-width:600px) {
    .categorias__container-item h2 {
        font-size: 20px;
    }
}


/* login.css */

.login-tittle {
    display: block;
    margin-top: 15px;
}

.login-tittle h3 {
    font-size: 35px;
}

.login-container {
    max-width: 700px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}


.error {
    color: red;
    font-size: 12px;
}

.form-login {
    margin-bottom: 10px;
    padding: 10px;
}

.form-login label {
    margin-bottom: 10px;
    font-size: 14px;
    color: var(--color-sexto);
}

.form-login input {
    width: 95%;
    margin: auto;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-login span {
    font-size: 11px;
}

.label-caracteres {
    margin-top: 3px;
    text-align: center;
    font-size: 10px;
}



.button-login {
    width: 98%;
    margin: auto;
    padding: 12px;
    background-color:var(--color-principal);
    color: white;
    font-weight: 500;
    font-size: 15px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-login:hover {
    background-color: var(--color-sexto);
}

.a-login {
    padding: 12px;
    display: block;
    background-color:var(--color-principal);
    color: white;
    font-weight: 500;
    font-size: 15px;
    margin: auto;
    margin-top: 10px;
    width: 95%;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}

.links-login {
    margin-top: 15px;
    text-align: center;
}

.links-login p {
    color: var(--color-sexto);
}

.password {
    display: block;
    margin-top: 10px;
    color: var(--color-sexto);
}

.password:hover {
    color: var(--color-cuarto);
}

.links-register {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.links-register a {
    color: var(--color-sexto);
    text-decoration: none;
}

.links-register a:hover {
    color: var(--color-cuarto);
}


/* ACCOUNT */

.account-container {
    max-width: 900px;
    margin: auto;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.account-container h3 {
    text-decoration: underline;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 19px;
}

.account-container li {
    list-style: none;
    font-size: 13px;
    color: var(--color-quien);
    font-weight: 500;
    margin-top: 5px;
}

.account-data {
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.account-container li span{
    font-size: 12px;
    font-weight: bold;
    color: black;
    margin-right: 4px;
}

.account-data a {
    height: 19px;
    font-size: 14px;
    align-self: flex-end;
    border-radius: 10px;
    background-color: var(--color-septimo);
    border: none;
    color: beige;
    padding: 8px;
    cursor: pointer;
    text-decoration: none;
}

.account-data a:hover {
    background-color: var(--color-principal);
}


.account-shop {
    padding: 10px;
    margin: auto;
    width: 100%;
}

.account-compra {
    text-align: center;
    margin-top: 10px;
}

.account-compra i {
    color: var(--color-terciario);
    font-weight: bold;
    font-size: 19px;
}

.account-compra p {
    font-weight: 500;
    font-size: 14px;
}

.account-button {
    display: block;
    text-decoration: none;
    text-align: center;
    margin: auto;
    border-radius: 15px;
    background-color: var(--color-septimo);
    width: 90%;
    padding: 8px;
    color: beige;
    font-weight: 500;
    font-size: 15px;
    margin-top: 10px;
    border: none;
    cursor: pointer;

}

.account-button:hover {
    background-color: var(--color-principal);
}